@bg-color: #99aa33;

body{
  background-color: @bg-color;
  width:80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

tbody{ border: 1px solid #e3e3e3;
}

th {
  font-weight: bold;
  font-size: 24px;
}


table {
  width: 100%;
  margin: 1em auto;
}

#container {
  width: 80%;
  margin: auto;
  text-align: center;
}

input, button {
  margin-right: 10px;
}

tr{
  background: grey;
}

.primary {
  background-color:yellow;
  color: red;
}

.secondary {
  background: blue;
  color: yellow;
}
